/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
*.pyc
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
.BROWSE.VC.DB
.BROWSE.VC.DB-wal